RewriteEngine On

# Proxy API requests to the backend PM2 server
RewriteRule ^api/(.*)$ http://127.0.0.1:3001/api/$1 [P,L]

# For React Router (SPA) Fallback
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
